<div id="left-column">
	<div id="posts">
		<% @posts.each do |post| %>
			<div class="post">
				<div class="title"><%= post.title %></div>
				<div class="byline">
					<span class="author">by <%= post.author.first_name %></span>
					<span class="date">on <%= post.created_at.strftime('%B %d %Y') %></span>
				</div>
				<div class="body">
					<%= post.body %>
				</div>
				<div class="other-info">
					<span class="categories">Posted in <%= post.categories.collect { |cat| cat.name }.join(",") %>
						<%= time_ago(post.created_at) %><!--  see posts_helper -->
					</span>
				</div>
			</div>
		<% end %>
	</div>
</div>


<div id="right-column">

</div>