<% provide(:title, 'Staff main aread') %>
<nav class="navbar navbar-default indexHeader staff" role="navigation">

<div class="container-fluid">
  <h1 class="mainIndexHTitle text-center">Simple Blog: Staff Only</h1>    
  </div> <!-- End of container-fluid -->
</nav> <!-- End of navbar navbar-default -->

<section class="staffLeft menu col-xs-2">
	<h3>Staff nav Menu</h3><br>
	<%= link_to 'Manage Posts', staff_menu_path %>
	<%= link_to 'Manage Categories', staff_menu_path %>
	<%= link_to 'Manage Comments' %>
	<%= link_to 'Manage Users', staff_menu_path %>
	<%= link_to 'Logout', staff_logout_path %>
</section>