<% provide(:title, 'Staff main aread') %>


<section class="staffLeft menu col-xs-2">
	<h3>Staff nav Menu</h3><br>
	<%= link_to 'Manage Posts', staff_menu_path %><br>
	<%= link_to 'Manage Categories', staff_menu_path %><br>
	<%= link_to 'Manage Comments' %><br>
	<%= link_to 'Manage Users', staff_menu_path %><br>
	<%= link_to 'Logout', staff_logout_path %><br>
</section>