<div class="tableContainer">
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
    <tr>
      <th><%= f.label :title %></th>
      <td><%= f.text_field :title, size: 50 %></td>
    </tr>
    <tr>
      <th><%= f.label :body %></th>
      <td><%= f.text_area :body, cols: 70, rows: 20 %></td>
    </tr>
    <tr>
      <th><%= f.label :author %></th>
      <td><%= select_tag(:author_id, options_for_select(@user_list)) %></td>
    </tr>
    <tr>
      <th><%= f.label :status %></th>
      <td><%= select_tag(:status, options_for_select(['Draft', 'Published'])) %></td>
    </tr>
    
    </tr>
  </table>
</div>    
      
  <div class="categoryList col-md-2">
    <%= f.label :category %> 
    <ul>
      <% for category in @categories %>
        <li><%= check_box_tag('categories[]', category.id, @post.categories.map { |c| c.id }.include?(category.id)) %>
          <%= category.name %></li>
      <% end %>
    </ul>
  </div> <!-- end of categoryList -->
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
