<h1>Listing posts</h1>

<div class='postsArea'>
  <% @posts.each do |post| %>
    <section class="displayPosts">
    
      <%= link_to "#{post.author.username}", post.author.username, class: 'indexUserLink' %>
      <%= link_to 'Edit', edit_post_path(post), class: 'indexPostsEdit' %> <span class="indexPostsEdit">&nbsp</span>
      <%= link_to 'Delete', post, class: 'indexPostsEdit', method: :delete, data: { confirm: 'Are you sure? '} %> <br>
      Title: <span class="postTitle"><%= post.title %>  </span><br>
      
      <div style="float:left;padding-right:3px;"><%= post.author.first_name %> wrote: </div>
      <div class="postContent"><%= post.body %></div>

    </section>
  <% end %>
</div>

<div class="postsNavLinks">
  <% if user_signed_in? %>
    <%= button_to 'New Blog post', new_post_path, class: 'btn btn-warning', method: 'get' %>
  <% end %>
</div>
<!-- <table>
  <tr>
    <th>Created</th>
    <th>Title</th>
    <th>Author</th>
    <th>Status</th>
    <th>Categories</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% @posts.each do |post| %>
  <tr>
    <td><%= post.created_at.strftime('%a %b %y %H:%M') %></td>
    <td><%= post.title %></td>
    <td><%= post.author.username %></td>
    <td><%= post.status %></td>
    <td><%= post.categories.collect { |cat| cat.name }.join(',') %></td>
    <td><%= post.comments_count %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
 -->

