<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default indexHeader staff" role="navigation">

	<div class="container-fluid">
	  <h1 class="mainIndexHTitle text-center">Simple Blog: Staff Only</h1>    
	  </div> <!-- End of container-fluid -->
	</nav> <!-- End of navbar navbar-default -->
	<div class="container">
		<% flash.each do |key, value| %>
			<%= content_tag(:div, value, class: "alert alert-#{key}") %>
		<% end %>

	</div>
<%= yield %>

</body>
</html>
